.home{
    font-family: Gill Sans, sans-serif;
    margin-top:30px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 60px;
    padding: 0 80px;
}

.logout-button{
    background-color: #0f0f0f;
    color: #fff;
    border-radius:20px;
    border: 1px solid #ccc;
    font-family: Gill Sans, sans-serif;
    font-size: 12px;
    font-weight: 550;
    width: 200px;
    height: 38px;
}
.logout-button:hover{
    background-color: #0056b3;

}

.profile-button{
    color: #fff;
    border-radius:20px;
    border: 1px solid #ccc;
    font-family: Gill Sans, sans-serif;
    font-size: 12px;
    font-weight: 550;
    width: 200px;
    height: 38px;
    background-color: #2E8B57;
    margin-right:6px;
}
.profile-button:hover{
    background-color: #0056b3;
}
.header-text{
    text-align: center;
    margin-bottom: 50px;
}

.menu-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.menu-button{
    width: 810px;
    height: 70px;
    margin: 10px;
    border-radius:20px;
    border: 1px solid #ccc;
    font-family: Gill Sans, sans-serif;
    font-size: 17px;
    background-color: #696969;
    color: #fff;
    font-weight: bold;
}

.menu-button:hover{
    background-color: #2E8B57;
    color: #fff;
}
.help-section{
    margin:210px;
    display: flex;
    justify-content: center;
}
.help-button{
    width:340px;
    height:60px;
    background-color: #0f0f0f;
    color:#fff;
    font-family: Gill Sans, sans-serif;
    font-size: 15px;
    border-radius:20px;
}