.metershistory-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-family:Gill Sans, sans-serif;
}

.header-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    padding: 0 80px;
}

.logout-button{
    background-color:#0f0f0f;
    color: #fff;
    border-radius:20px;
    border: 1px solid #ccc;
    font-family: Gill Sans, sans-serif;
    font-size: 12px;
    font-weight: 550;
    width: 200px;
    height: 38px;
}

.backmenu-button{
    color: #fff;
    border-radius:20px;
    border: 1px solid #ccc;
    font-family: Gill Sans, sans-serif;
    font-size: 12px;
    font-weight: 550;
    width: 200px;
    height: 38px;
    background-color: #2E8B57;
}

.backmenu-button:hover{
    background-color: #0056b3;
    color: #fff;
}

.metershistory-content {
    width: 100%;
}

.metershistory-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.meters-history-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.filters {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: start;
}

.filters label {
    font-weight: bold;
}

.filters input {
    padding: 5px;
    font-size: 16px;
}
.date-input{
    border-radius:20px;
    width:300px;
    margin-left:20px;
}
.meter-info{
    border: 2px solid #0f0f0f;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left:20px;
}