.meter-readings-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-family: Gill Sans, sans-serif;;
}

.header-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    padding: 0 80px;
}

.logout-button{
    background-color:#0f0f0f;
    color: #fff;
    border-radius:20px;
    border: 1px solid #ccc;
    font-family: Gill Sans, sans-serif;
    font-size: 12px;
    font-weight: 550;
    width: 200px;
    height: 38px;
}

.backmenu-button{
    color: #fff;
    border-radius:20px;
    border: 1px solid #ccc;
    font-family: Gill Sans, sans-serif;
    font-size: 12px;
    font-weight: 550;
    width: 200px;
    height: 38px;
    background-color: #2E8B57;
}

.backmenu-button:hover{
    background-color: #0056b3;
    color: #fff;
}

.meter-readings-content {
    width: 100%;
}

.meter-readings-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.meter-readings-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.meter-readings-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.field {
    display: flex;
    flex-direction: column;
}

.field label {
    font-weight: bold;
    margin-bottom: 5px;
}

.field input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.success-message {
    color: green;
    text-align: center;
    margin-top: 10px;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.unpaidbills-button {
    color: #fff;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-family: Gill Sans, sans-serif;
    font-size: 12px;
    font-weight: 550;
    width: 100%;
    height: 38px;
    background-color: #0f0f0f;
    margin-top: 10px;
}

.unpaidbills-button:hover{
    background-color: #0056b3;
    color: #fff;
}
.send-readings{
    color: #fff;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-family: Gill Sans, sans-serif;
    font-size: 12px;
    font-weight: 550;
    width: 100%;
    height: 38px;
    background-color: #2E8B57;
    margin-top: 10px;
}
.send-readings:hover{
    background-color: #0056b3;
}